:root{
    --branco: #ffffff;
    --preto: #000000;
    --cinza: #9ca3af;
    --verde:#86efac;
    --verde-escuro:#14532d;
    --laranja:#fcb64d;
    --laranja-escuro:#78350f;
    --azul:#bfdbfe;
    --azul-escuro:#1e40af;
    --roxo:#d8b4fe;
    --roxo-escuro:#581c87;
    --vermelho:#f87171;
    --border-button:#2f2f2f;
    --hover-button:#1c1c1c;

}